 * {

     font-family: 'Baloo Bhai 2', cursive;
     font-family: 'Edu SA Beginner', cursive;
     font-family: 'Lato', sans-serif;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Roboto', sans-serif;
     font-family: 'Ubuntu', sans-serif;
 }

 body {
     background-color: rgb(255, 233, 207);
     text-align: center;
 }

 h1 {
     color: #7e0101b1;
 }

 #text,
 #text1 {
     padding: 10px;
     font-size: 15px;
     border: none;
     border-radius: 10px;
     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
 }

 .two button {
     margin: 20px;
     width: 150px;
     height: 40px;
     border: none;
     border-radius: 10px;
     font-size: 15px;
     color: white;
     cursor: pointer;
 }

 .two button:hover {
     opacity: 0.8;
 }

 #copy-btn {
     background-color: #880000;
 }

 #paste-btn {
     background-color: #333300;
 }

 #clear-btn {
     background-color: #660033;
 }

 #justify-btn {
     background-color: #843d3d;
 }